.header{
	min-height: 100px;
	background-color: red;
}
h1{
	padding-top: 10px;
	color: white;
	text-align: center;
}
h1.vision{
	padding-bottom: 15px;
	color: white;
	text-align: center;
}
.slider{
	overflow: hidden;
	min-height: 400px;
	background-color: green;
	margin-top: 25px;
}
.text{
	display: inline-block;
	margin-left: 300px;
	margin-top: 160px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	
}
.services{
	float: left;
	height: 300px;
	width: 300px;
	background-color: white;
	margin-top: 50px;
	margin-left: 300px;
	padding: 5px;
	border: 5px dotted red;
	text-align: center;
	
}
h3{
	background-color: blue;
	font-size: 30px;
	font-weight: bold;
	margin-top: -10px;
	color: white;
}
.services h4{
	font-size: 18px;
	font-weight: bold;
}
.contact{
	float: right;
	height: 300px;
	width: 300px;
	background-color: white;
	margin-top: 50px;
	margin-right: 300px;
	padding-left: 20px;
	border: 5px dotted red;
}
.contact h3{
	margin-top: 38px;
}
.footer{
	min-height: 100px;
	background-color: black;
	display: block;
}
.footer p{
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}